.sl-header {
  @extend .banner;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
}

.sl-header-nav {
  @extend .navbar;
  background: transparent;
  height: $navbar-height;
}

.sl-header-nav-ul {
  @extend .navbar-nav;
  @extend .nav;
}

.menu-item {
  @extend .nav-item;

  &.current-menu-item {
    @extend .active;
  }
}

.menu-item a {
  @extend .nav-link;
}