h1, h2, h3, h4, h5, h6 {
  @extend .header-font;
  margin: 0;
}

p {
  @extend .body-font;
  line-height: 1.75rem;
  margin: 0 0 1rem 0;
  font-size: 1rem;
}

a {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  &:active, &:focus, &:hover {
    outline: none;
    text-decoration: none;
  }
}

* {
  font-smoothing: antialiased;
}