%button {
  @extend .btn;
  @extend .header-font;
  text-transform: uppercase;
  letter-spacing: 0;
  color: $green;
  font-weight: 500;
  border-radius: 3px;
  padding: 20px 45px;
  background: #fff;
  border: 3px solid transparent;
  font-size: 22px;
  transition: 350ms;
  &:hover {
    color: #fff;
    border: 3px solid #fff;
    transition: 350ms;
    background: rgba(255, 255, 255, 0.25);
  }
}

%button-yellow {
  @extend %button;
  background: $yellow;
  box-shadow: 0 5px darken($yellow, 15%);
}

%button-with-icon {
  padding: 10px 25px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: lighten($green, 10%);
  box-shadow: 0 3px 0 $green;
  color: #fff;
  transition: 200ms;

  .icon {
    color: #fff;
    margin-right: 5px;
    opacity: 0;
    transform: translateX(-15px);
    transition: 350ms;
  }

  .text {
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    transform: translateX(-15px);
    transition: 350ms;
  }

  &:hover {
    background: lighten($green, 15%);
    box-shadow: 0 3px 0 lighten($green, 5%);
    transition: 200ms;

    .icon, .text {
      transform: translateX(0);
      opacity: 1;
      transition: 350ms;
    }
  }
}